<!DOCTYPE html>
<html>
  <head>
    <title>Sidewalk Safe</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script type="text/javascript">
      var iconUrl = "{{ url_for('static', filename='images/warning.png') }}";
      var icyIconUrl = "{{ url_for('static', filename='images/ice.png') }}";
      var darkIconUrl = "{{ url_for('static', filename='images/dark.png') }}";
      var staticURL = "{{ url_for('static', filename='') }}";
    </script>
  </head>
  <body>
    <div id="top-bar">
      <div id="top-bar">
        <img src="{{url_for('static', filename='images/SWS.png')}}" id="icon" />
        Sidewalk Safe
        <input type="text" id="search-input" placeholder="Search for city..." />
      </div>
    </div>
    <div id="side-bar">
      <button id="add-button" onclick="onAddButtonPress()">Add</button>
      <div id="dynamic"></div>
    </div>
    <div id="map"></div>
    <div id="description-popup" class="popup">
      <!-- Popup content will go here -->
      <form onsubmit="return uploadData()">
        <div class="popup-content">
          <div class="left-section">
            <img src="" id="input_image_preview" style="display: none" />
            <div class="file-input-container">
              <!-- File input label -->
              <label for="input_image" class="file-input-label"
                >Choose Image (optional)</label
              >
              <!-- Actual file input -->
              <input
                type="file"
                accept="image/jpeg, image/png, image/jpg"
                id="input_image"
                class="file-input"
                onchange="updatePreviewImg()"
              />
            </div>
          </div>
          <div class="right-section">
            <span class="close" onclick="closeDescriptionPopup()">&times;</span>
            <h2>How is the sidewalk?</h2>
            <select name="tagDropDown" id="description-input" class="dropDown">
              <option value="Warning">Warning</option>
              <option value="Icy">Icy</option>
              <option value="Dark">Dark</option>
            </select>
            <input type="hidden" id="latitude-input" />
            <input type="hidden" id="longitude-input" />
            <button type="submit">Add</button>
          </div>
        </div>
      </form>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
