<!DOCTYPE html>
<html>
  <head>
    <title>Interactive Leaflet Map</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script type="text/javascript">
      var iconUrl = "{{ url_for('static', filename='images/icon.jpeg') }}";
      var icyIconUrl = "{{ url_for('static', filename='images/blue.png') }}";
    </script>
  </head>
  <body>
    <div id="top-bar">Top Text</div>
    <div id="side-bar">
      <button id="add-button" onclick="onAddButtonPress()">Add</button>
      <div id="pin-description">
        Pin description
                

      </div>      
    </div>
    <div id="map"></div>
    <div id="description-popup" class="popup">
      <!-- Popup content will go here -->
      <form onsubmit="return uploadData()">
        <div class="popup-content">
          <div class="left-section">
            <img src="" id="input_image_preview" style="display: none" />
            <input
              type="file"
              accept="image/jpeg, image/png, image/jpg"
              id="input_image"
              onchange="updatePreviewImg()"
            />
          </div>
          <div class="right-section">
            <span class="close" onclick="closeDescriptionPopup()">&times;</span>
            <h2>Enter Description</h2>
            <select name="tagDropDown" id="description-input">
              <option value="Icy">Icy</option>
              <option value="Dark">Dark</option>
            </select>
            <input type="hidden" id="latitude-input" />
            <input type="hidden" id="longitude-input" />
            <button type="submit">Add</button>
          </div>
        </div>
      </form>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
